:root {
    --button-color: #f1c40f;
}
body {
    background-color: #EEE;
    font-style: 'Lato', sans-serif;
    top: 0;
}

header {
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    background-color: #EEE;
    height: 75px;
}
#header {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

#header-img{
    max-width: 300px;
    display: flex;
    justify-content: center;
}

#nav-bar {
    align-self: center;
}

#nav-bar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 500px;
}

#form-style {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    text-align: center;
}

#form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 30%;
    padding: 0px 25px 20px 25px;
}

#email {
    margin-bottom: 15px;
    width: 300px;
    box-sizing: border-box;
}

#submit {
    border-style: none;
    height: 40px;
    width: 127px;
    font-size: inherit;
    font-style: inherit;
    background-color: var(--button-color);
}

.icon {
    color: darkorange;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
}

.fa-3x {
    font-size: 3em;
}

