body {
    background-color: #EEE;
    font-style: 'Lato', sans-serif;
    top: 0;
}

header {
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    background-color: #EEE;
    height: 75px;
}
#header {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

#header-img{
    max-width: 300px;
    display: flex;
    justify-content: center;
}

#nav-bar {
    align-self: center;
}

#nav-bar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 500px;
}