* {
    margin: 0;
}

:root {
    --button-color: #f1c40f;
}
body {
    background-color: #EEE;
    font-style: 'Lato', sans-serif;
    top: 0;
    bottom: 0;
}

header {
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    background-color: #EEE;
    height: 75px;
}
#header {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

#header-img{
    max-width: 300px;
    display: flex;
    justify-content: center;
}

#nav-bar {
    align-self: center;
}

#nav-bar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 500px;
}

a {
    text-decoration: inherit;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    color: inherit;
}

#form-style {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    text-align: center;
}

#form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 30%;
    padding: 0px 25px 20px 25px;
}

#email {
    margin-bottom: 15px;
    width: 300px;
    box-sizing: border-box;
}

.button-style {
    border-style: none;
    height: 40px;
    width: 127px;
    font-size: inherit;
    font-style: inherit;
    background-color: var(--button-color);
    text-transform: uppercase;
}

#service-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.icon {
    color: var(--button-color);
    font-size: 80px;
    padding-right: 45px;
}

.perks {
    display: flex;
    align-items: center;
    margin-top: 30px;
    width: 70%;
    text-align: left;
    justify-content: center;
}

#iframe {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.box-display {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box {
    text-align: center;
    border-style: solid;
    line-height: 1.6;
    width: calc(100% / 3);
    margin: 0 60px;
    height: 300px;
}

.box-header {
    background-color: #ddd;
    text-transform: uppercase;
    height: 11%;
    text-align: center;
    padding-top: 10px;
}

.trombone-list{
    list-style: none;
}

.box > ol {
    padding-right: 40px;
}
ol > li {
    list-style: none;
}

#footer {
    display: flex;
    background-color: #ddd;
    justify-content: end;
    margin: 30px 60px 0 60px;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 65px;
    padding: 10px 0 0px 0;
}

footer > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 265px;
    list-style: none;
}

footer > p {
    display: flex;
    color: #444;
}